absl-py==0.11.0
addict==2.4.0
albumentations==0.5.2
altair==4.2.0
anyio==3.2.0
appdirs==1.4.4
argon2-cffi==20.1.0
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
audioread==2.1.9
autopep8==1.5.4
Babel==2.9.1
backcall==0.2.0
backports.zoneinfo==0.2.1
black==21.5b1
bleach==3.2.1
blinker==1.4
blis==0.7.7
bokeh==2.0.0
cachetools==4.1.1
catalogue==2.0.7
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
cloudpickle==1.6.0
colorama==0.4.4
cycler==0.10.0
cymem==2.0.6
dask==2.18.0
dataclasses==0.6
debugpy==1.5.1
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.3
distributed==2.18.0
entrypoints==0.3
et-xmlfile==1.1.0
executing==0.8.3
facenet-pytorch==2.5.2
fastai==2.5.6
fastcore==1.4.1
fastdownload==0.0.5
fastprogress==1.0.2
ffmpeg==1.4
filelock==3.5.0
Flask==2.0.1
future==0.18.2
gast==0.3.3
gitdb==4.0.9
GitPython==3.1.27
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.33.2
gunicorn==20.1.0
h5py==2.10.0
HeapDict==1.0.1
huggingface-hub==0.4.0
idna==2.10
imageio==2.9.0
imgaug==0.4.0
importlib-metadata==4.11.4
inflect==5.3.0
ipykernel==6.9.1
ipython==8.1.1
ipython-genutils==0.2.0
ipywidgets==7.6.2
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.0
json5==0.9.5
jsonpatch==1.32
jsonpointer==2.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyter-server==1.8.0
jupyterlab==3.0.16
jupyterlab-pygments==0.1.2
jupyterlab-server==2.6.0
jupyterlab-widgets==1.0.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lab==6.3
labs==0.0.4
langcodes==3.3.0
librosa==0.8.1
llvmlite==0.36.0
Markdown==3.3.3
MarkupSafe==2.0.1
matplotlib==3.3.3
matplotlib-inline==0.1.3
missingno==0.4.2
mistune==0.8.4
mmcv==1.5.0
msgpack==1.0.2
multiprocess==0.70.11.1
murmurhash==1.0.6
mypy-extensions==0.4.3
nbclassic==0.3.1
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
networkx==2.5
notebook==6.4.0
numba==0.53.1
numpy==1.18.5
oauthlib==3.1.0
opencv-python==4.5.2.52
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==21.3
pandas==1.1.4
pandocfilters==1.4.3
parso==0.8.1
pathspec==0.8.1
pathy==0.6.1
pickleshare==0.7.5
Pillow==8.0.1
plotly==4.14.3
pooch==1.3.0
preshed==3.0.6
prometheus-client==0.9.0
prompt-toolkit==3.0.8
protobuf==3.14.0
psutil==5.8.0
pure-eval==0.2.2
py4j==0.10.9.3
pyaml==20.4.0
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pydantic==1.8.2
pydeck==0.7.1
Pygments==2.7.3
Pympler==1.0.1
pynndescent==0.5.2
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyrsistent==0.17.3
pyspark==3.2.1
python-dateutil==2.8.1
pytz==2020.4
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.1.1
pywin32==300
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==20.0.0
qtconsole==5.0.1
QtPy==1.9.0
regex==2021.4.4
requests==2.25.0
requests-oauthlib==1.3.0
resampy==0.2.2
retrying==1.3.3
rsa==4.6
sacremoses==0.0.47
scikit-image==0.18.1
scikit-learn==0.23.0
scikit-optimize==0.7.4
scipy==1.4.1
seaborn==0.11.1
semver==2.13.0
Send2Trash==1.5.0
Shapely==1.7.1
simplejson==3.17.2
six==1.15.0
slacker==0.14.0
smart-open==5.2.1
smmap==5.0.0
sniffio==1.2.0
sortedcontainers==2.3.0
sounddevice==0.4.1
SoundFile==0.10.3.post1
spacy==3.2.4
spacy-legacy==3.0.9
spacy-loggers==1.0.2
spark==0.2.1
srsly==2.4.2
stack-data==0.2.0
streamlit==1.9.2
tblib==1.7.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
thinc==8.0.15
threadpoolctl==2.1.0
tifffile==2021.3.5
tokenizers==0.11.4
toml==0.10.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.0.1
Werkzeug==2.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==2.0.1
yapf==0.32.0
zict==2.0.0
zipp==3.8.0
torchvision==0.11.3
